
<config>
    <modules>
        <Oggetto_QuickLook>
            <version>0.1.0</version>
        </Oggetto_QuickLook>
    </modules>
    <frontend>
        <routers>
            <quicklook>
                <use>standard</use>
                <args>
                    <module>Oggetto_QuickLook</module>
                    <frontName>quicklook</frontName>
                </args>
            </quicklook>
            <catalog>
                <args>
                    <modules>
                        <quicklook before="Mage_Catalog_ProductController">Oggetto_QuickLook_Product
                        </quicklook>
                    </modules>
                </args>
            </catalog>
        </routers>
        <layout>
            <updates>
                <quicklook>
                    <file>quicklook.xml</file>
                </quicklook>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <quicklook>
                <use>admin</use>
                <args>
                    <module>Oggetto_QuickLook</module>
                    <frontName>quicklook</frontName>
                </args>
            </quicklook>
        </routers>
    </admin>
    <global>
        <models>
            <attribute>
                <class>Oggetto_QuickLook_Model</class>
            </attribute>
        </models>
        <resources>
        </resources>
        <blocks>
            <quicklook>
                <class>Oggetto_QuickLook_Block</class>
            </quicklook>
        </blocks>
        <helpers>
            <quicklook>
                <class>Oggetto_QuickLook_Helper</class>
            </quicklook>
        </helpers>
    </global>
</config>